# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
__pycache__
__pycache__/
.idea
*.png
*.docx
*.pdf
*.xml
*.xlsx
*.csv
*.test
*.train
*.tsv
*.pyc
*.password
*.pickle
index.txt